/* Esto es un proyecto forkeado de platzi,m llamado curso de frontend developmen, fue forkeado como curso de java scrpt practico ya ahora lo estoy personalizando para mi tienda CamKatStore, haremos cambios de variables, aumento de variables y funciones y sus imagenes seran de ropa. Este proyecto sigue siendo meramente tecnico */

@media screen and (min-width: 889px) /* and (max-width: 1360px) */ {
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
     width: 100%;
    height: 100%; 
    font-size: 62.5%;
}



    /* settings generales */
        :root { 
            --white: #FFFFFF;
            --black: #000000;
            --very-light-pink: #C7C7C7;
            --text-input-field: #F7F7F7;
            --hospital-green: #ACD9B2;
            --sm: 14px;
            --md: 16px;
            --lg: 18px;
        }

        body {
            height: 100%;
           /*  width: 100vw; */
            margin: 0;
            font-family: 'Quicksand', sans-serif;
        }


    /* settings  del navegador */

         .inactive {
            display: none;
        }/* es util para usarla en java script */

    /*     .inactiveGrid {
            display:none;
        } */

        .activeFlex {
        width: 100%;
        display: flex;
        flex-direction: column;
        place-content: center;
        margin-top: 10px; 
        }

        nav {
            display: flex;
            justify-content: space-between;
            padding: 0 24px;
            border-bottom: 1px solid var(--very-light-pink);
            width: 100%;
            height: 7.6%;
            position: fixed;
            background-color: #DAC0A3;
            font-size: 1.6rem;
        }

        .menu {
            display: none;
        }

        .logo {
            width: 100px;
            object-fit: contain;
            cursor: pointer;
        }

        .navbar-left ul,
        .navbar-right ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }

        .navbar-left {
            display: flex;
           /*  width: 70%; */
        }

        /*  .navbar-right {
            display: flex;
            justify-content:end;
            width: 30%;
        } */

      /*  .navbar-right {
            display: flex;
            max-width: 50%;
            justify-content: center;
        } */

        .navbar-left ul {
            margin-left: 12px;
        }

        .navbar-left ul li a,
        .navbar-right ul li a {
            text-decoration: none;
            color: rgb(128, 74, 54);
            border: 1px solid var(--white);
            padding: 8px;
            border-radius: 8px;
        }

        .navbar-left ul li a:hover,
        .navbar-email:hover {
            border: 1px solid var(--hospital-green);
            color: var(--hospital-green);
            cursor:pointer;
        }

        .navbar-email {
            color: rgb(222, 87, 38);
            cursor:pointer;
            font-size: 1.6rem;
            margin-right: 12px;
        }

        .navbar-shopping-cart {
            position: relative;
            cursor:pointer;
        }

        .navbar-shopping-cart div {
            width: 16px;
            height: 16px;
            background-color: var(--hospital-green);
            border-radius: 50%;
            font-size: 1.6rem;
            font-weight: bold;
            position: absolute;
            top: 1px;
            /* right: 1px; */
            right: 12.5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

         .navbar-shopping-cart img{
            width: 57px;
            height: 40px;
            object-fit: contain;
        
        }
        /* settings del menu de compras */

    .desktop-menu {
        position: absolute;
        width: 300px;
        background: var(--white);
        top: 102.6%;
        right: 60px;
      height: auto;
      border: 1px solid #000000;
      border-radius: 6px;
      padding: 20px 20px 0 20px;
      font-size: 1.6rem;

    }
    .desktop-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .desktop-menu ul li {
      text-align: end;
    }
    .desktop-menu ul li:nth-child(1),
    .desktop-menu ul li:nth-child(2),
    .desktop-menu ul li:nth-child(3) {
      font-weight: bold;
    }
     .desktop-menu ul li:nth-child(1){
      background-color: #DAC0A3;
    }
    .desktop-menu ul li:last-child {
      padding-top: 20px;
      border-top: 1px solid var(--very-light-pink);
    }
    .desktop-menu ul li:last-child a {
      color: var(--hospital-green);
      font-size: var(--sm);
    }
    .desktop-menu ul li a {
      color: var(--back);
      text-decoration: none;
      margin-bottom: 20px;
      display: inline-block;
      cursor: pointer;
    }
    .desktop-menu ul li .emailDesktopSesionIniciada{
      font-size: var(--sm);
      /* font-weight: 300; */
      background-color: #DAC0A3;
      cursor: initial;
    }
    /* settings del modo mobile*/

    .mobile-menu {
        display: none;
      
    }

    .mobile-menu a:hover {
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        cursor:pointer;
      /* margin-bottom: 24px; */
    }
    .mobile-menu ul {
      padding: 0;
      margin: 24px 0 0;
      list-style: none;
    }
    .mobile-menu ul:nth-child(1) {
      border-bottom: 1px solid var(--very-light-pink);
    }
    .mobile-menu ul li {
      margin-bottom: 24px;
    }
    .email {
      font-size: var(--sm);
      font-weight: 300 !important;
    }
    .emailMobilSesionIniciada{
      font-size: var(--sm);
      font-weight: 300;
      background-color: #DAC0A3;
      cursor: initial;
    }
    .sign-out {
      font-size: var(--sm);
      color: var(--hospital-green) !important;
    }

/* configs generales para aside de carrito de compras: */


    #shoppingCartContainer{
        background-color: var(--white);
        height: auto;
        width: 360px;
        /* padding: 0 60px;  lo sacamos de aqui para que no se aplique a todos los asides, y se lo ponemos solamente a nuestro shoppingCartContainer  ue es el menu de carrito y que si lo necesita*/
        box-sizing: border-box;
        position: absolute;
        right: 0;
        padding: 0 50px;
        top: 7.6%;
        border: 1px solid black;
         border-radius: 6px;
        font-size: 1.6rem;
    } 
/* configs de mis ordenes adicionadas o pedidas: */

    .shoppingCartTitle-container {
      display: flex;
       padding-bottom: 15%;
      padding-top: 5%;
      justify-content: center;
    }
    .shoppingCartTitle-container img {
      transform: rotate(180deg);
      margin-right: 14px;
    }
    .shoppingCartTitle {
      
      font-size: var(--lg);
      font-weight: bold;
      background-color: #DAC0A3;
    }
    .shoppingCartOrder {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 16px;
      align-items: center;
      background-color: #DAC0A3;
      margin-bottom: 24px;
      border-radius: 8px;
      padding: 0 24px;
    }
    .shoppingCartOrder p:nth-child(1) {
      display: flex;
      flex-direction: column;
    }
    .shoppingCartOrder p span:nth-child(1) {
      font-size: var(--md);
      font-weight: bold;
    }
    .shoppingCartOrder p:nth-child(2) {
      text-align: end;
      font-weight: bold;
    }
    .shopping-cartCadaAdicion {
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      gap: 16px;
      margin-bottom: 24px;
      align-items: center;
    }
    .shopping-cartCadaAdicion figure {
      margin: 0;
    }
    .shopping-cartCadaAdicion figure img {
      width: 70px;
      height: 70px;
      border-radius: 20px;
      object-fit: cover;
    }
    .shopping-cartCadaAdicion p:nth-child(2) {
      color: var(--very-light-pink);
    }
    .shopping-cartCadaAdicion p:nth-child(3) {
      font-size: var(--md);
      font-weight: bold;
    }
    .shopping-cartPrimary-button {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
      margin-bottom: 24px;
    }

    .logoDeCerrarCompraListada{
        cursor: pointer;
    }
    /* configs de detalles de cada orden */



    #productDetail {
        background-color: var(--white);
        /* padding: 0 60px;  lo sacamos de aqui para que no se aplique a todos los asides, y se lo ponemos solamente a nuestro shoppingCartContainer  ue es el menu de carrito y que si lo necesita*/
        box-sizing: border-box;
        right: 0;
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: white;
        z-index: 9999; 
        /* display: none; */
    }
     .product-detail-close {
      background: var(--white);
      width: 14px;
      height: 14px;
      position: absolute;
      top: 14px;
      left: 14px;
      z-index: 2;
      padding: 12px;
      border-radius: 50%;
    }
 .product-detail-close img {
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 2;
    }
    .product-detail-close:hover {
      cursor: pointer;
    }
    #productDetail > img:nth-child(2) {
      width: 100%;
      height: 310px;/* estaba en 360, parecia  muy alto */
      object-fit: contain;
      background-color: #000000;
      /* object-position: bottom; */
      border-radius: 0 0 20px 20px;
    }
    #productDetail .product-info {
      margin: 24px 24px 0 24px;
    }
    #productDetail .product-info p:nth-child(1) {
      font-weight: bold;
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 4px;
    }
    #productDetail .product-info p:nth-child(2) {
      color: var(--very-light-pink);
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 36px;
    }
    #productDetail .product-info p:nth-child(3) {
      color: var(--very-light-pink);
      font-size: var(--sm);
      margin-top: 0;
      margin-bottom: 36px;
    }
    .primary-buttonProductDetail {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
    }
    .add-to-cart-buttonProductDetail {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  

    /* configs de adicion de productos */

/* esta es para un titulo puesto antes del div cards container */
    .main-container{
        /* flex: 1; */
        background-color: #F8F0E5;
        width: 100%;
       /*  height: auto; */
        min-height: 70%;
        padding: 73px 0 5% 0px;
        font-size: 1.6rem;
    }

    .main-container h1 {
        display : flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: var(--lg);
    }

    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 240px);
      /* height: 80%; */
      gap: 26px;
      place-content: center;
      margin-top: 20px;
    }
    .product-card {
      width: 240px;
    }
    .product-card img {
      width: 240px;
      height: 240px;
      border-radius: 20px;
      object-fit: cover;
    }
    .product-card .product-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
    }
    .product-card .product-info figure {
      margin: 0;
    }
    .product-card .product-info figure img {
      width: 35px;
      height: 35px;
    }
    .product-card .product-info div p:nth-child(1) {
      font-weight: bold;
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 4px;
    }
    .product-card .product-info div p:nth-child(2) {
      font-size: var(--sm);
      margin-top: 0;
      margin-bottom: 0;
      color: var(--very-light-pink);
    }
   
    .divImagenLogocamkat{
        width: 100%;
        height: 87%;
        padding: 3% 0 10% 0;
    }

    .imagenLogocamkat {
      width: 100%;
      height: 460px;/* estaba en 360, parecia  muy alto */
      object-fit: contain;
      background-color: #DAC0A3;

    }



    /* configs de toggle mostrarMiInformación */
    .containerMiInformacion{
        width: 100%;
        height: 100%;
        background-color: #B99470;
        position: absolute;
        top: 7.6%;
        font-size: 1.6rem;
    }

    .contInfoEmpresa1,
    .contInfoEmpresa2,
    .contInfoEmpresa3  {
        width: 100%;
        background-color:#DAC0A3;  
        padding: 5%;
    }

/* configs para footer */
.footerCamkat {
    display: flex;
    flex-direction: column;
    background-color:#DAC0A3;
    width: 100%;
    height: 30%;
    color: var(--white);
    /* margin-top: auto; */
   /*  flex-wrap: wrap;
    justify-content: center; */
    

}

.divMarcasRamdom {
    display: flex;
    width: 100%;
    height: 25%;
    gap: 5%;
    align-items: center;
    background-color: #B99470;
   
}

.footerDivPrincipal {
    display: flex;
    width: 100%;
    height: 55%;
    padding: 1% 0 1% 0;
  /*   object-fit: contain; */
    flex-direction: row;
    font-size:var(--sm);
    color: #7D0A0A;
    background-color: #B99470;}

.divCopyRight {
    display: flex;
    padding: 0 0 0 10%;
    justify-content: center;
    align-items: center;
    text-align: end;
    width: 100%;
    height: 20%;
    font-size:var(--sm);
    background-color: #685268;}

.divMarcasRamdom div {
    padding: 0.4% 0;
      width: 8.2%;
      height: 100%;
    }

.marcaRandom1,
.marcaRandom2,
.marcaRandom3,
.marcaRandom4,
.marcaRandom5,
.marcaRandom6,
.marcaRandom7,
.marcaRandom8{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }



.divfooterInfo {
    display: flex;
    flex-direction: column;
    /* padding: 0 0 0 2%; */
    padding: 0 0 0 10%;
    width: 40%;
    height: 100%;
    
}

.divFooterTodoNosotros {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.divFooterTodoNosotros ul {
    list-style-type:none;
}

.divFooterTodoNosotros ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    cursor: pointer;
}

.divFooterTodoNosotros ul li a{
     border-bottom: 1px solid rgb(0, 0, 238);
     color: rgb(0, 0, 238);
}

.divOtrosSitios {
    display:flex;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.divOtrosSitios ul {
    list-style-type:none;
}

.divOtrosSitios ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    cursor: pointer;
}

/* configs para aside o div sobre el total de mis ordenes */

#asideTotalCompras {
    background-color: var(--white);
        height: 100%;
        width: 360px;
        /* padding: 0 60px;  lo sacamos de aqui para que no se aplique a todos los asides, y se lo ponemos solamente a nuestro shoppingCartContainer  ue es el menu de carrito y que si lo necesita*/
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 7.6%;
        padding: 0 3.4%;
        border: 1px solid black;
        border-radius: 6px;
}
#my-orderTotalOrdenes {
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      position: relative;
      top: 5px;
      font-size: 1.6rem;
    }
    #titleTotalOrdenes {
      justify-content: center;
      display: flex;
      font-size: var(--lg);
      margin-bottom: 26px;
      /* margin-left: 33%;
      margin-right: 65px; */
      background-color: #DAC0A3;
    }
    #my-order-containerTotalOrdenes {
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 80%;
      position: relative;
      top: -163px;
    }
    #my-order-contentTotalOrdenes {
      display: flex;
      flex-direction: column;
      /* position: relative;
      top: -33px; */
    }
    #orderTotalOrdenes {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 16px;
      align-items: center;
      margin-bottom: 12px;
    }
    #orderTotalOrdenes p:nth-child(1) {
      display: flex;
      flex-direction: column;
    }
    #orderTotalOrdenes p span:nth-child(1) {
      font-size: var(--md);
      font-weight: bold;
    }
    #orderTotalOrdenes p span:nth-child(2) {
      font-size: var(--sm);
      color: var(--very-light-pink);
    }
    #orderTotalOrdenes p:nth-child(2) {
      text-align: end;
      font-weight: bold;
    }

 /* configs de aside de ingresar con cuenta  */

    .divIngresoCuenta{
    position: absolute;
    right: 30%;
    top: 102.6%;
    width: 40%;
    height: 100%;
    font-size: 1.6rem;
    }
    .loginIngreso {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      background-color: var(--white);
      border: 1px solid #000000;
      border-radius: 6px;
    }
    .form-containerIngreso {
      position: relative;
      top: -34px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
    }
    .logoIngreso {
      width: 150px;
      margin-bottom: 5px;
      height: 100px;
      object-fit: contain;
      justify-self: center;
      /* display: none; */
    }
    .titleIngreso {
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
    }
    .subtitleIngreso {
      color: var(--very-light-pink);
      font-size: var(--md);
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
    }
    .formIngreso {
      display: flex;
      flex-direction: column;
    }
    .formIngreso a {
      color: var(--hospital-green);
         font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      margin-bottom: 10px;
     cursor: pointer;

    }
    .labelEmailIngreso {
         font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .labelPasswordIngreso {
         font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .inputIngreso {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
      padding: 6px;
      margin-bottom: 12px;
    }
    .input-emailIngreso {
      margin-bottom: 22px;
    }
    .primary-buttonIngreso {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
         font-size: 1.6rem;
      font-weight: bold;
      height: 50px;
    }
    .pInfoErrroneaIngreso {
        color: red;
    }
    .ingresadoConExito {
    color: #fb091a;
    background-color: black;
    height: 52px;
    padding-top: 8px;
    text-align: center;
    }
   /*  .ingresadoConExito h1{
        padding-right: 15%;
        padding-left: 17%;
    } */
    .secondary-buttonIngreso {
      background-color: var(--white);
      border-radius: 8px;
      border: 1px solid var(--hospital-green);
      color: var(--hospital-green);
      width: 100%;
      cursor: pointer;
         font-size: 1.6rem;
      font-weight: bold;
      height: 50px;
    }
    .login-buttonIngreso {
      margin-top: 10px;
      margin-bottom: 10px;
    }

   /*  @media (max-width: 640px) {
      .logoIngreso {
        display: block;
      }
    } */


    /* CONFIGS para crear cuenta */

    .divCrearCuenta{
        position: absolute;
        right: 30%;
        left: 30%;
        top: 102.6%;
        width: 40%;
        height: 100%;
         font-size: 1.6rem;

        
    }
    .primary-buttonCrear {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
         font-size: 1.6rem;
       font-weight: bold;
      height: 50px;
    }
    .login-buttonCrear {
      margin-top: 14px;
      margin-bottom: 30px;
    }
    .loginCrear {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      background-color: var(--white);
      border: 1px solid #000000;
      border-radius: 6px;
    }
    .form-containerCrear {
      position: relative;
      top: -34px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
    }
    .logoCrear {
      width: 150px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 10px;
      justify-self: center;
      /* display: none; */
    }
    .formCrear {
      display: flex;
      flex-direction: column;
    }
    .formCrear a {
      color: var(--hospital-green);
         font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      margin-bottom: 52px;
    }
    .labelCrearName {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
     .inputCrearName {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .input-nameCrear {
      margin-bottom: 22px;
    }
    .labelEmailCrear {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .labelPasswordCrear {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .inputCrearEmail {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .input-emailCrear {
      margin-bottom: 22px;
    }
    .inputCrearPassword {
        background-color: var(--text-input-field);
        border: none;
        border-radius: 8px;
        height: 30px;
         font-size: 1.6rem;
         padding: 6px;
        margin-bottom: 12px;
        }
    .input-passwordCrear {
      margin-bottom: 22px;
    }  

    .primary-buttonCrear {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
         font-size: 1.6rem;
       font-weight: bold;
      height: 50px;
    }
   
    .login-buttonCrear {
      margin-top: 14px;
      margin-bottom: 30px;
    }




     /* configs para email creado */

    .divEmailCreado{
    position: absolute;
    right: 30%;
    left: 30%;
    top: 102.6%;
    width: 40%;
    height: 100%;
    font-size: 1.6rem;
    }
    .loginEmailCreado {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      background-color: var(--white);
      border: 1px solid black;
      border-radius: 6px;
    }
    .form-containerEmailCreado {
      position: relative;
      top: -34px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
    }
    .logoEmailCreado {
      width: 150px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 10px;
      justify-self: center;
      /* display: none; */
    }
      .titleEmailCreado {
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
    }
    .subtitleEmailCreado {
      color: var(--very-light-pink);
      font-size: var(--md);
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
    }
    .email-imageEmailCreado {
      width: 100%;
      height: 132px;
      border-radius: 50%;
      background-color: var(--text-input-field);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
    }
    .email-imageEmailCreado img {
      width: 60%;
    }
    .primary-buttonEmailCreado {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
    }
    .login-buttonEmailCreado {
      margin-top: 14px;
      margin-bottom: 30px;
    }
     .resendEmailCreado {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.6rem;
    }
    .resendEmailCreado span {
      color: var(--very-light-pink);
    }
    .resendEmailCreado a {
      color: var(--hospital-green);
      text-decoration: none;
    }
   
      /* configs para mostrar detalles de cuenta ingresada */

    .divMostrarCuenta{
    position: absolute;
        right: 30%;
        left: 30%;
        top: 102.6%;
        width: 40%;
        height: 100%;
        font-size: 1.6rem;
    }
    .loginMostrarCuenta {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      background-color: var(--white);
      border: 1px solid #000000;
      border-radius: 6px;
    }
    .form-containerMostrarCuenta {
      position: relative;
      top: -34px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
      
    }
     .titleMostrarCuenta {
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
    }
    .logoMostrarCuenta{
      width: 150px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 10px;
      justify-self: center;
    
    }
    .formMostrarCuenta {
      display: flex;
      flex-direction: column;
    }
    .formMostrarCuenta a {
      color: var(--hospital-green);
      /* font-size: var(--sm); */
      text-align: center;
      text-decoration: none;
      margin-bottom: 52px;
    }
    .labelNameMostrarCuenta {
      /* font-size: var(--sm); */
      font-weight: bold;
      margin-bottom: 4px;
    }
     .pNameMostrarCuenta {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
      font-size: var(--md);
      padding: 6px;
      margin-bottom: 12px;
    }
    .labelEmailMostrarCuenta{
      /* font-size: var(--sm); */
      /* font-weight: bold; */
      margin-bottom: 22px;
    }
    .labelPasswordMostrarCuenta {
      /* font-size: var(--sm); */
      /* font-weight: bold; */
      margin-bottom: 4px;
    }
    .pEmailMostrarCuenta {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
      font-size: var(--md);
      padding: 6px;
      margin-bottom: 12px;
    }
    .pPasswordMostrarCuenta {
        background-color: var(--text-input-field);
        border: none;
        border-radius: 8px;
        height: 30px;
        font-size: var(--md);
        padding: 6px;
        margin-bottom: 12px;
        }
    .secondary-buttonMostrarCuenta-EditarCuenta {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
    }
    .login-buttonMostrarCuenta-EditarCuenta {
      margin-top: 14px;
      margin-bottom: 30px;
    }
  
 /* configs para desplegable de editar cuenta */

    .divEditarAccount{
        position: absolute;
        right: 30%;
        left: 30%;
        top: 102.6%;
        width: 40%;
        height: 100%;
         font-size: 1.6rem;

        
    }
    .loginEditarAccount {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      border: 1px solid black;
      background-color: var(--white);
      border-radius: 6px;
      /* position: absolute;
      top: 45%; */
    }
    .form-containerEditarAccount {
      position: relative;
      top: -16px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
    }
    .titleEditarAccount {
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
    }
    .subtitleEditarAccount {
      color: var(--very-light-pink);
      font-size: var(--md);
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 18px;
      text-align: center;
    }
    .logoEditarAccount {
      width: 150px;
      margin-bottom: 10px;
      justify-self: center;
      object-fit: contain;
      height: 100px;
      /* display: none; */
    }
    .formEditarAccount {
      display: flex;
      flex-direction: column;
    }
    .formEditarAccount a {
      color: var(--hospital-green);
         font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      margin-bottom: 52px;
    }
    .labelNameEditarAccount {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .labelEmailEditarAccount {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .labelEditarAccountActual {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .labelEditarAccountNueva {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .inputNameEditarAccount {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .inputEmailEditarAccount {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .inputEditarAccount {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .primary-buttonEditarAccount-Confirmar {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
         font-size: 1.6rem;
       font-weight: bold;
      height: 50px;
    }
    .login-buttonEditarAccount-Confirmar {
      /* margin-top: 14px; */
      margin-bottom: 30px;
    }
      .buttonEditarCambiarContrasenia {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
    }
    .login-buttonEditarCambiarContrasenia {
      /* margin-top: 14px; */
      margin-bottom: 30px;
    }

     /* configs para desplegable Recuperar cuenta */

    .divRecoverAccount{
        position: absolute;
        right: 30%;
        left: 30%;
        top: 102.6%;
        width: 40%;
        height: 100%;
         font-size: 1.6rem;

        
    }
    .loginRecover {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      background-color: var(--white);
      border: 1px solid #000000;
      border-radius: 6px;
    }
    .form-containerRecover {
      position: relative;
      top: -34px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
    }
    .titleRecover {
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
    }
    .subtitleRecover {
      color: var(--very-light-pink);
      font-size: var(--md);
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 32px;
      text-align: center;
    }
    .logoRecover {
      width: 150px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 10px;
      justify-self: center;
      /* display: none; */
    }
    .formRecover {
      display: flex;
      flex-direction: column;
    }
    .formRecover a {
      color: var(--hospital-green);
         font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      margin-bottom: 52px;
    }
    .labelCell-o-correoRecover {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .inputCell-o-correoRecover {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .primary-buttonRecover {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
         font-size: 1.6rem;
       font-weight: bold;
      height: 50px;
    }
    .login-buttonCell-o-correoRecover {
      margin-top: 14px;
      margin-bottom: 30px;
    }

    /* configs para email enviado */
    .divEmailEnviado{
    position: absolute;
    right: 30%;
    left: 30%;
    top: 102.6%;
    width: 40%;
    height: 100%;
    font-size: 1.6rem;
    }
    .loginEmailEnviado {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      background-color: var(--white);
      border: 1px solid black;
      border-radius: 6px;
    }
    .form-containerEmailEnviado {
      position: relative;
      top: -34px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
    }
    .logoEmailEnviado {
      width: 150px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 10px;
      justify-self: center;
      /* display: none; */
    }
      .titleEmailEnviado {
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
    }
    .subtitleEmailEnviado {
      color: var(--very-light-pink);
      font-size: var(--md);
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
    }
    .email-imageEmailEnviado {
      width: 100%;
      height: 132px;
      border-radius: 50%;
      background-color: var(--text-input-field);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
    }
    .email-imageEmailEnviado img {
      width: 80px;
    }
    .primary-buttonEmailEnviado {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
    }
    .login-buttonEmailEnviado {
      margin-top: 14px;
      margin-bottom: 30px;
    }
     .resendEmailEnviado {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.6rem;
    }
    .resendEmailEnviado span {
      color: var(--very-light-pink);
    }
    .resendEmailEnviado a {
      color: var(--hospital-green);
      text-decoration: none;
    }

     
 /* configs para desplegable de cambio de contraseña */

    .divChangeKey{
        position: absolute;
        right: 30%;
        left: 30%;
        top: 102.6%;
        width: 40%;
        height: 100%;
         font-size: 1.6rem;

        
    }
    .loginChangeKey {
      padding: 0 10%;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      border: 1px solid black;
      background-color: var(--white);
      border-radius: 6px;
      /* position: absolute;
      top: 45%; */
    }
    .form-containerChangeKey {
      position: relative;
      top: -34px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 100%;
    }
    .titleChangeKey {
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
    }
    .subtitleChangeKey {
      color: var(--very-light-pink);
      font-size: var(--md);
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 32px;
      text-align: center;
    }
    .logoChangeKey {
      width: 150px;
      margin-bottom: 10px;
      justify-self: center;
      object-fit: contain;
      height: 100px;
      /* display: none; */
    }
    .formChangeKey {
      display: flex;
      flex-direction: column;
    }
    .formChangeKey a {
      color: var(--hospital-green);
         font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      margin-bottom: 52px;
    }
    .labelChangeKeyActual {
         font-size: 1.6rem;
       font-weight: bold;
      margin-bottom: 4px;
    }
    .inputChangeKeyActual {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .inputChangeKeyNueva {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
         font-size: 1.6rem;
       padding: 6px;
      margin-bottom: 12px;
    }
    .primary-buttonChangeKey-Change {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
         font-size: 1.6rem;
       font-weight: bold;
      height: 50px;
    }
    .login-buttonChangeKey-Change {
      /* margin-top: 14px; */
      margin-bottom: 30px;
    }

/* configs de despelgable de metodos de pago: */

        .divTodosMetodoDePago{
            position: absolute;
            right: 25%;
            left: 25%;
            top: 7.6vh;
            width: 50%;
            height: 100vh;
            font-weight: bold;
            font-size: 1.6rem;
        }

       .divMetodoPago{
            /* height: 500px; */
            display: grid;
            place-items: center;
            /* height: 100vh; */
            position: absolute;
            right: 0px;
            /* top: 0; */
            width: 100%;
            background-color: var(--white);
            border: 1px solid black;
            border-radius: 6px;
            height: 100%;
            font-weight: bold;
        }

        .divContenedorMetodoPago{
            display: grid;
            width: 90%;
            place-items: center;
            position: absolute;
            top: 22px;
            background-color: var(--white);
            padding-right: 19%;
            padding-left: 19%;
        }

        .divContenedorMetodoPago p {  
            font-weight: initial;
            text-align: center;
            color: var(--very-light-pink);
            background-color: black;
        }

        .tittleMetodoPago{
            font-weight: bold;
           
        }

        .labelOpcionesDePago{
            font-weight: bold;
            color: var(--very-light-pink);
            padding-bottom: 3%;

        }


        .checkboxMetodoPago{
            display: grid;
            grid-template-rows: auto auto;
            width: 90%;
            margin-top: 5%;
            /* font-weight: bold; */
            font-weight: bold;
            place-items: center;
           
        }

        .selectPagos{
            font-size: 1.6rem;
            font-weight: bold;
        }

        .selectPagos option {
            font-size: 1.6rem;
            font-weight: bold;
        }

        .logoMetodoPago{
            width: 150px;
            height: 66px;
            object-fit: contain;
            /* border-bottom: 150px; */
            /* margin-bottom: 6%; */
        }

        .buttonPagoDefMetodoPago{
            margin-top: 5%;
            background-color: var(--hospital-green);
            border-radius: 8px;
            border: none;
            width: 100%;
            height: 50px;
            font-weight: bold;
            font-size: var(--lg);
            color: white;
        }

        .pTotalApagarMetdoPago{
            background-color: var(--text-input-field);;
        }

        .spanValorCompraMetodoPago{
            font-size: 1.8rem;
            font-weight: bold;
            color: var(--very-light-pink);
        }

        .labelTotalPago{
            padding-top: 3%;
        }

        /* pago mastercard: */

        .pagoMastercard{
            width: 100%;
            height: 100%;
            margin-top: 10%;
        }

        .formPagoMastercard{
            display: grid;
            grid-template-rows: auto auto auto auto auto auto;
            place-items: center;
        }

        .formPagoMastercard label {
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 5%;
        }

        .labelNumTarjetaMastercard{
            text-align: center;
        }

        /* pago Bancolombia: */

          .pagoBancolombia{
            width: 100%;
            height: 100%;
            margin-top: 6%;
        }

        .formPagoBancolombia{
            display: grid;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
            place-items: center;
        }

        .formPagoBancolombia label {
            font-size: 1.6rem;
            font-weight: bold;
            /* margin-top: 5%; */
        }

        .labelNumTarjetaBancolombia{
            text-align: center;
        }

        .formPagoBancolombia select {
            place-content: center;
            width: 100%;
        }

        
        /* pago Daviplata: */

          .pagoDaviplata{
            width: 100%;
            height: 100%;
            margin-top: 10%;
        }

        .formPagoDaviplata{
            display: grid;
            grid-template-rows: auto auto auto auto;
            place-items: center;
        }

        .formPagoDaviplata label {
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 5%;
        }

        .formPagoDaviplata select {
            place-content: center;
            width: 100%;
        }

         /* pago Nequi: */

          .pagoNequi{
            width: 100%;
            height: 100%;
            margin-top: 10%;
        }

        .formPagoNequi{
            display: grid;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
            place-items: center;
        }

        .formPagoNequi label {
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 5%;
        }


        .formPagoNequi select {
            place-content: center;
            width: 100%;
        }

}